html {
    background-color: black;
    color: #a9fd50;
    font-family: 'Space Mono', monospace;
}

body {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
}

.wrapper {

}

footer {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

#canvas {
    border: 1px dashed #50fdfa;
}

h1 {
    font-size: 50px;
    text-align:center;
}

h2 {
    font-size: 25px;
}

.social-link {
    text-decoration: none;
    color: #a9fd50;
    fill: #a9fd50;
    margin: 10px;
}

.social-link:hover {
    color: #50fdfa;
    fill: #50fdfa;
}

.game {
    position: relative;
    
}

.score-board {
    position: absolute;
    right: 50px;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 3px black;
}

.instructions {
    position: absolute;
    bottom: 15px;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
}

.game-over {
    position: absolute;
    top: 50px;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 3px black;
}

.hidden {
    display: none;
}